modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "yt-dlp", "cairo", "pango", "libjpeg", "giflib", "librsvg", "pkg-config", "util-linux", "redis"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[[ports]]
localPort = 36369
externalPort = 5173

[[ports]]
localPort = 37725
externalPort = 3002

[[ports]]
localPort = 40407
externalPort = 3001

[[ports]]
localPort = 41153
externalPort = 6800

[[ports]]
localPort = 44105
externalPort = 5000

[[ports]]
localPort = 45841
externalPort = 4200

[agent]
expertMode = true
